backports.functools-lru-cache==1.5
certifi==2018.8.24
chardet==3.0.4
click==6.7
click-plugins==1.0.4
cligj==0.4.0
cycler==0.10.0
Cython==0.28.5
enum34==1.1.6
Fiona==1.7.13
Flask==1.0.2
Flask-WTF==0.14.2
geographiclib==1.49
geopandas==0.4.0
geopy==1.17.0
idna==2.7
itsdangerous==0.24
jellyfish==0.6.1
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.3
munch==2.3.2
numexpr==2.6.8
numpy==1.15.1
osmnet==0.1.5
pandana==0.4.1
pandas==0.23.4
psutil==5.4.7
pyparsing==2.2.0
pyproj==1.9.5.1
python-dateutil==2.7.3
python-decouple==3.1
pytz==2018.5
requests==2.19.1
scikit-learn==0.19.2
scipy==1.1.0
Shapely==1.6.4.post2
six==1.11.0
sklearn==0.0
subprocess32==3.5.2
tables==3.4.4
urllib3==1.23
uWSGI==2.0.17.1
Werkzeug==0.14.1
WTForms==2.2.1
